@page
@model CW2B_RP_Audi_Team_4.Pages.CarImages.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CarImage</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CarImage.ImageUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CarImage.ImageUrl)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CarImage.Has3DModel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CarImage.Has3DModel)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.CarImage?.CarImageID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
